.contact {
  margin-bottom: 0;
  padding-bottom: 0;
  &__title {
    margin-bottom: 48px;
    text-align: center;
  }

  &__content {
    @include page-grid;

    row-gap: 32px;

    @include on-tablet {
      align-items: flex-start;
    }
  }

  &__form {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__info {
    display: flex;
    grid-column: 1 / -1;
    flex-direction: column;
    row-gap: 24px;

    margin-bottom: 120px;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: 8 / span 5;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  &__input {
    box-sizing: border-box;
    width: 100%;
    padding: 16px 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;

    font-family: $font-main;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;

    background: #f8f8fa;
    outline: none;
    &::placeholder {
      color: #7e7e83;
      transition: color 0.3s ease;
    }
    &:hover {
      border-color: #292929;

      &::placeholder {
        color: #292929;
      }
    }

    &--textarea {
      resize: none;

      display: block;

      box-sizing: border-box;
      width: 100%;
      min-height: 148px;
      padding: 16px 20px;
      border-radius: 12px;
    }
  }

  &__send {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 120px;
    }

    @include on-desktop {
      margin-bottom: 182px;
    }
  }
}

.info {
  &__label {
    margin-bottom: 8px;

    font-family: $font-main;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: #fff;
    letter-spacing: 0;

    opacity: 0.6;
  }
  &__text,
  &__link {
    display: block;

    font-family: $font-main;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.4;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0;

    transition: color 0.3s ease;

    &:hover {
      cursor: pointer;
      color: #ff5c00;
    }
  }
}
