.icon {
  display: block;

  width: 24px;
  height: 24px;
  margin: 0;

  background-size: contain;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &__phone-number {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%) translateX(20px);

    display: flex;

    min-width: max-content;

    font-family: $font-main;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;

    opacity: 0;

    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
  }

  &--phone {
    position: relative;
    display: inline-block;
    background-image: url(../icons/icon--phone.svg);

    &:hover {
      .icon__phone-number {
        transform: translateY(-50%) translateX(0);
        opacity: 1;
      }
    }
  }

  &--menu {
    background-image: url(../icons/icon-burger-menu.svg);
  }

  &--close {
    background-image: url(../icons/icon--close.png);
    background-repeat: no-repeat;
    background-position: 0%;
  }
}
