.recommended {
  padding-bottom: 60px;
  background-color: $color-dark;

  &__title {
    margin-top: 92px;
    margin-bottom: 48px;
    text-align: center;
  }

  &__products {
    @include page-grid;
  }

  &__product {
    display: flex;
    grid-column: 1 / -1;
    flex-direction: column;

    height: 100%;

    transition: 0.3s;
    &:hover {
      transform: scale(1.1);
    }

    @include on-tablet {
      grid-column: 2/6;
    }

    @include on-desktop {
      grid-column: span 4;
    }

    &-photo {
      display: block;

      width: 100%;
      height: auto;
      margin-bottom: 32px;

      object-fit: cover;
    }
    &-title {
      margin-bottom: 8px;
    }
    &-category {
      flex-grow: 1;
      margin-bottom: 16px;
    }

    &-price {
      margin-top: 16px;

      font-family: $font-main;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.4;
      color: #fff;
    }
  }
}
