.recommended {
  background-color: #1d1d1d;

  &__title {
    margin-top: 92px;
    grid-column: 1/-1;
    justify-self: start;
  }
}

&__products {
  @include pageGrid;

  &__photo {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin-bottom: 32px;
  }
}
.product {
}
&__category {
}

&__price {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  color: #fff;
}
