.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 24px;

  &__icons {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  &__logo {
    display: flex;
    img {
      height: 38px;
      width: auto;
      transition: 0.3s;
      @include onTablet {
        height: 56px;
      }
      @include hover(transform, scale(1.2));
    }
  }
}
