.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 24px;

  @include contentPaddingInline;

  @include onTablet {
    padding-block: 64px;
  }

  &__icons {
    display: flex;
    gap: 32px;
  }

  &__logo {
    display: flex;
  }
}
